$main-color:#21243D;
$font: Arial;
$margin: 0 0 2.5rem 14.69rem;

#menu{
    height: 1.68rem;
    display: flex;
    margin-top: 0.25em;
    margin-right:3.75rem;
    justify-content: right;
    margin-bottom: 5.7rem;
}
a{
    text-decoration: none;
    padding: 0rem 1.035rem;
    text-align: right;
    font-weight: 550;
    font-size: 1.25em;
    line-height: 29.38px;
    letter-spacing:  0.01em;
    font-family: $font;
    color: $main-color;
    font-style: normal;
}
a:hover{
    color:#FF6464;
}
h1{
    font-family: $font;
    font-weight: 800;
    font-size: 2.75em;
    color:$main-color;
    margin:$margin;
}
.content{
    margin:$margin;
    font-family: $font;
    text-align: left;
    h2{
        color:$main-color;
        font-size:1.875em;
        font-weight:700;
        font-style: normal;
    }
    span{
        color:#FFFFFF;
        background-color: #142850;
        width: 5.125em;
        height: 1.95em;
        border-radius: 16px;
        font-family:$font;
        font-weight: 700;
        font-size: 1.125em;
        padding-top: 0.05em;
        padding-bottom:0.1em;
    }
    strong{
        color:#8695A4;
        font-weight: normal;
        font-size: 1.15em;
    }
    p{
        font-family: $font;
        color:$main-color;
        width:55%;
        font-weight: normal;
        font-size: 1rem;
    }
}
#content--mobile{
    display:none;
}
hr{
    width:63%; 
    border:0.01px solid #E0E0E0;
    margin-bottom: 2.8em;
}
footer{
    text-align: center;
    margin-top:7em; 
    margin-bottom: 4em;
    div{
        margin-top:1.5em;
        color:$main-color;
        font-weight:500;
    }
}
