#menu{
    height: 1.68rem;
    display: flex;
    margin-top: 0.25em;
    margin-right:3.75rem;
    justify-content: right;
}
a{
    text-decoration: none;
    padding: 0rem 1.035rem;
    text-align: right;
    font-family:Arial;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 29.38px;
    letter-spacing:  0.01em;
    color: #000000;
}
#ava{
    margin-left: 200px;
    height:243px;
    width: 243px;
    border-radius: 50%;
    -webkit-box-shadow: -4px 11px 10px 6px rgba(179,161,102,0.72); 
    box-shadow: -4px 11px 10px 6px rgba(179,161,102,0.72);
}
#head{
    margin-top: 158px;
    margin-left: 148px;
    margin-right:149px;
}
h1{
    text-align: left;
    font-size:46px;
    font-weight: 700;
    line-height: 3.75rem;
    color:#21243D;
}
p{
    width: 500px;
    height: 66px;
    size: 16px;
    text-align:justify;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.46rem;
    color:#21243D;
}
#btn{
    background-color: #FF6464;
    color:white;
    width:210px;
    height:47px;
    font-size: 22px;
    font-family: Arial;
    margin-left:147px;
    margin-top:40px;
    line-height: 29px;
    text-align: center;
    padding-top: 10px;
}
#box--ad{
    background-color: #EDF7FA;
    height:396px;
}
h2{
    margin-left:148px;
    margin-top: 40px;
    font-family: Arial;
    font-style: normal;
    font-weight:545;
    font-size:22px;
    line-height:60px;
    color:#21243D;
}
src{
    margin-right: 148px;
    margin-top:40px;
    font-size:16px;
    font-family: Arial;
    line-height: 23px;
    width:208px;
    height: 20px;
    left: 796px;
    top: 622px;
    color:#00A8cc;
}
#box--left{
    width: 440px;
    height: 295px;
    margin-left: 148px;
    margin-top:-10px;
    padding-top: 3px;
    padding-left:25px;
    padding-right:21px;
    background-color: #FFFFFF;
}
#box--right{
    width: 440px;
    height: 295px;
    position:absolute;
    top:667px;
    right:148px;
    padding-top:3px;
    padding-left:25px;
    padding-right:21px;
    background-color: #FFFFFF;
}
h3{
    font-family:Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    text-align: left;
}
h4{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    text-align: left;
}
h5{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-right:75px;
    text-align: left;
}
.content{
    height:190px;
    width:856px;
    padding-left:148px;
    padding-right: 20px;
}
div{
    width: 550px;
    height: 66px;
    size: 16px;
    text-align:justify;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.46rem;
    color:#21243D;
}
span{
    color:#FFFFFF;
    background-color: #142850;
    width: 82px;
    height: 30px;
    border-radius: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
}
strong{
    font-weight:normal;
    color: #8695A4;
}
footer{
    margin-top:150px;
    margin-left: 459px;
}
h6{
padding-left:70px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color:#21243D
}

